.welcome {
  padding-block: 130px 50px;
  font-family: $roboto-font;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 24px;

  &__text {
    background-color: $secondary-color;
    border-radius: 20px;
    padding: 100px 80px;
  }

  &__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: $poppins-font;
  }

  &__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }

  &__button {
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 20px;
    padding: 14px 20px;
    border-radius: 14px;
    border: 1px solid $secondary-color;
    transition: all $transition-duration ease-in-out;

    &:hover {
      background-color: $secondary-color;
      color: #e0e7ef;
      border: 1px solid $primary-color;
    }
  }
}
