.dropdown {
  color: $text-brown-color;
  width: 772px;
  font-family: $roboto-font;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__item {
    border: 1px solid $secondary-color;
    border-radius: 16px;
    overflow: hidden;
    padding: 31px 40px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__title {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 500;
  }

  &__toggle {
    background-color: $secondary-color;
    color: $primary-color;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
  }

  &__content {
    display: none;
    margin-top: 25px;
    font-size: 14px;
    border-top: 1px solid $secondary-color;
    font-size: 18px;
    line-height: 27px;
    max-width: 612px;
    padding-top: 30px;
  }
}

#content1 {
  display: block;
}
