.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
  &__input {
    font-family: $roboto-font;
    height: 64px;
    padding: 18.5px 14px;
    border: 1px solid #ececec;
    border-radius: 4px;

    &::placeholder {
      color: $text-brown-color;
    }
  }

  &__button {
    margin-top: 16px;
    background-color: $primary-color;
    color: $secondary-color;
    width: 213px;
    padding: 14px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 14px;
    border: 1px solid $secondary-color;
    transition: all $transition-duration ease-in-out;

    &:hover {
      background-color: $secondary-color;
      color: #e0e7ef;
      border: 1px solid #e0e7ef;
    }
  }
}
